body { margin: 0; }

h1 {
	background: url(header.png) center no-repeat;
	height: 100px;
	width: 100%;
	text-indent: -9999px;
}

@media (max-width: 782px) {
    h1 {
        background-position: center left -695px;
    }
}

@media (max-width: 656px) {
    h1 {
        background-position: center left 45.015822784810126%;
        background-size: 292.6829268292683% auto;
    }
}