body { margin: 0; }

h1 {
	background: url(header.png) center no-repeat;
	height: 100px;
	width: 100%;
	text-indent: -9999px;
	margin-top: 0;
}

@media (max-width: 852px) {
    h1 {
        background-position: center right -534px;
    }
}

@media (max-width: 658px) {
    h1 {
        background-position: center right 42.313787638668785%;
        background-size: 291.79331306990883% auto;
    }
}

.row {
    margin-bottom: 16px;
}

input[type=file] {
    width: 100%;
}